:root {
    --primary: #2EC4B6;
    --secondary-lighter: #237C82;
    --secondary:  #FF6666;
    --danger: #E4572E;
    --dark: #0E1F2F;
    --dark-lighter: #18334E;
    --white: #F8F8FF;
}

*{
    color: var(--white);
}

.text-primary{
    color: var(--primary)!important;
}

.bg-dark{
    background-color: var(--dark)!important;
}

.bg-dark-lighter{
    background-color: var(--dark-lighter)!important;
}

.bg-primary{
    background-color: var(--primary)!important;
}

.bg-secondary{
    background-color: var(--secondary)!important;
}

.bg-danger{
    background-color: var(--danger)!important;
}

.table-appointments{
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
}

.bg-secondary{
    background-color: green;
}

.border-primary{
    border-color: var(--primary)!important;
}

.btn-outline-primary{
    border-color: var(--primary)!important;
    color: var(--primary)!important;
    fill: var(--primary)!important;
    background-color: var(--dark-lighter)!important;
}

.btn-outline-primary:hover{
    background-color: var(--secondary-lighter)!important;
}

.btn-outline-primary:focus{
    background-color: var(--primary)!important;
    color: var(--dark)!important;
    fill: var(--dark)!important;
}

.jumbotron{
    background:
        linear-gradient(to right, var(--dark), transparent),
        url("../images/jumbotron-background.jpg");
    background-size: cover;
    background-position: 80%;
}

.nav{
    width: 80%;
}

.table-appointments-row:hover{
    background-color: var(--secondary-lighter)!important;
}

.table-card-appointment:before{
    height: 1em;
    display: table-row;
    content: '';
}

.table-appointments-row td:first-child { 
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-left-width: 1px!important;
}

.table-appointments-row td{
    border: 0 solid var(--primary)!important;
    border-top-width: 1px!important;
    border-bottom-width: 1px!important;
}

.table-appointments-row td:last-child { 
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right-width: 1px!important;
}

.table .tdDate {
    white-space: nowrap;
}

.btn-round{
    border-radius: 16px;
    height: 32px;
    width: 32px;
}

.modal-dialog{
    border-radius: 16px!important;
    border: 1px solid var(--primary)!important;
    overflow: hidden;
}

input, select, textarea{
    color: var(--white)!important;
    background-color: var(--dark)!important;
}

::placeholder{
    color: var(--white)!important;
}

:-ms-input-placeholder{
    color: var(--white)!important;
}

::-ms-input-placeholder{
    color: var(--white)!important;
}

.bi-arrow-repeat{
    border: 1px solid var(--primary);
    padding: 3px;
}

form > label{
    margin-top: 20px;
}

input:-webkit-autofill { 
    -webkit-box-shadow: 0 0 0 1000px var(--dark-lighter) inset !important;
    -webkit-text-fill-color: var(--white);
}

input:-webkit-autofill:focus { 
    -webkit-box-shadow: 0 0 0 1000px var(--dark-lighter) inset !important;
    -webkit-text-fill-color: var(--white);
}